## Git ignore for workspace-roboo

# Global
log
target
*.log

# Eclipse
.project
.classpath
.settings
.metadata

# IntelliJ idea
.idea
*.iml

# Svn
.svn

# Special
BACKUP
LearnJava
_gsdata_
ResourceBot*
.recommenders
