extends layout

block append scripts
    script(src='/javascripts/marked.js')
    script(src='/javascripts/ace_free.js')
    script.

        function keyup2(e) {
            e = e || window.event;
            if (e.keyCode == 27 // ESC
                    || (e.keyCode >= 112 && e.keyCode <= 123)//F1~F12
                    || (e.keyCode >= 16 && e.keyCode <= 20) // shift/ctrl/alt/pause/caps-lock
                    || (e.keyCode >= 33 && e.keyCode <= 36) // page-up/page-down/end/home
                    || e.keyCode == 9 //tab
                    || e.keyCode == 91//win
                    || e.keyCode == 93//win-right
                    || (e.keyCode >= 37 && e.keyCode <= 40) // left/up/right/down
                    || e.keyCode == 144//num-lock
                    || e.keyCode == 145//scroll-lock
                    || e.keyCode == 45 //insert
                    || e.ctrlKey // ctrl+?
                    || e.altKey // alt+?
            ) {
                return;
            } else {
                convert();
            }
        }
        function convert() {
            getPreviewer().innerHTML = marked(getEditorContent());
        }
        function copyAttr(src, dst) {
            var attrs = src.attributes;
            for (var i = 0; i < attrs.length; i++) {
                var attr = attrs[i];
                dst.setAttribute(attr.name, attr.value);
            }
        }
        function getEditor() {
            return document.getElementById("editor");
        }
        function getEditorContent() {
            return editor.getValue();
        }
        function getPreviewer(index) {
            return document.getElementById("previewer");
        }
        function locate() {
            var clientHeight = document.documentElement.clientHeight;
            var clientWidth = document.documentElement.clientWidth;
            var halfWidth = (clientWidth - 100) / 2;
            document.getElementById("editor").setAttribute("style", "width:" + halfWidth + "px;height:" + (clientHeight - 90) + "px")
            document.getElementById("previewer").setAttribute("style", "width:" + halfWidth + "px" + ";left:" + (halfWidth + 40) + "px;height:" + (clientHeight - 90) + "px");
            document.getElementById("main").setAttribute("style", "height:" + (clientHeight - 50) + "px");
        }

block head
    div.head Editor

block body
    div.main#main
        pre#editor(contenteditable=true)
        div#previewer
        //- script
        script.
            locate();
            document.body.onresize = locate;
            var editor = ace.edit("editor");
            editor.setShowPrintMargin(false);
            //editor.setShowLineNumbers(false);
            editor.setShowFoldWidgets(false);
            editor.getSession().on('change', convert);

            var editing = document.getElementById("editor");
            editing.onblur = function () {
                localStorage.setItem('editor', getEditorContent());
                //document.designMode = 'off';
            }
            if (localStorage.getItem('editor')) {
                if (localStorage.hasOwnProperty('editor')) {
                    editor.setValue(localStorage.getItem('editor'));
                    convert();
                }
            }
block foot
    //-clear foot